.homeScreen {
    width: 50%;
    margin-right: 20px;
    line-height: 120%;
    text-align: justify;
}

img {
    width: 49%;
    height: 100%;
    margin-right: 20px;
}

article {
    display: flex;
}

.homeScreen h2 {
    line-height: 130%;
}