/*---------*/
/* page returning */
/*---------*/

body {
    font-size: 1.3rem;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 120%;
}

header {
    background-color: lightgrey;
    position: fixed;
    width: 100%;
    margin-bottom: 90px;
    text-align: center;
}

h1 {
    margin-left: 50px;
    margin-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
    font-style: italic;
    line-height: 100%;
    color: white;
    display: inline-block;
    font-family: Lobster, sans-serif;
}

em {
    color: darkblue;
}

nav {
    margin-right: 50px;
    display: inline-block;
}

ul li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    color: white;
    border-right: solid 2px white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    border-bottom: solid 2px darkblue;
}

.selected {
    border-bottom: solid 2px darkblue;
    padding-bottom: 2px;
}

.lastNav {
    border-right: none;
}

main {
    padding-top: 10%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}

.link {
    color: darkblue;
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 0.8rem;
    padding: 1rem;
    position: relative;
    bottom: -50px;
    text-align: center;
}

.material-icons {
    font-size: 0.8rem;
}

h2 {
    color: darkblue;
    font-size: 2.3rem;
    margin-bottom: 20px;
}

article {
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: justify;
}

embed {
    margin-top: 20px;
}

figure {
    max-width: 100%;
}

/*--------*/
/* contact page */
/*--------*/

label {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type=submit]{
    display: block;
    margin-top: 10px;
}

textarea {
    width: 25%;
    height: 100px;
}

.response {
    visibility: hidden;
    margin-top: 40px;
    width: 100%;
}

.response p {
    margin-top: 40px;
}

/*--------*/
/* getglasses */
/*--------*/

.appointment {
    width: 100%;
    margin-bottom: 40px;
}

.appointment p {
    margin-top: 40px;
}

.time {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 30px;
}

input[type=date] {
    display: block;
}


/*--------*/
/* fonts */
/*-------*/
